In [1]:
import warnings
warnings.simplefilter("ignore", FutureWarning)
import pandas as pd
from icoscp.cpb.dobj import Dobj

from pi import gui

from pi import icos_data
from pi import icos2latex
from pi.icos_timeseries import IcosFrame

In [2]:
#gui.AnalysisGui() #debug = True )

In [3]:
s = icos_data.StationData()
df = s.stations_df

pid_ls = list(df.dobj)

In [4]:
df = s.get_ts(pid = pid_ls[0])
d = IcosFrame.trim_icos_meta(df.icos_meta, columns = 'FC')
d['product']
ll = df.icos_var_unit_ls

C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)

['CO2', 'FC', 'H', 'H2O', 'H_UNCLEANED', 'LE', 'LE_UNCLEANED', 'NEE', 'NEE_UNCLEANED', 'SC', 'TAU', 'TIMESTAMP', 'TIMESTAMP_END', 'USTAR', 'W_SIGMA', 'ZL']
['FC']

In [5]:
t = icos2latex.Translator()
t.var_unit_to_latex(var_unit=df.icos_var_unit_ls[0])

'${\\scriptsize  {\\mathrm  {{CO_2}\\ (\\mu{mol}/{mol})}}}$'

In [6]:
ll
l1 = ['NEE','CO2']
l2 = [(v,u) for v in l1 for c,u in ll if v==c]
l2,ll

([('NEE', 'µmol m-2 s-1'), ('CO2', 'µmol mol-1')],
 [('CO2', 'µmol mol-1'),
  ('FC', 'µmol m-2 s-1'),
  ('H', 'W m-2'),
  ('H2O', 'mmol mol-1'),
  ('H_UNCLEANED', 'W m-2'),
  ('LE', 'W m-2'),
  ('LE_UNCLEANED', 'W m-2'),
  ('NEE', 'µmol m-2 s-1'),
  ('NEE_UNCLEANED', 'µmol m-2 s-1'),
  ('SC', 'µmol m-2 s-1'),
  ('TAU', 'kg m-1 s-2'),
  ('TIMESTAMP', 'Unitless'),
  ('TIMESTAMP_END', 'Unitless'),
  ('USTAR', 'm s-1'),
  ('W_SIGMA', 'm s-1'),
  ('ZL', 'Unitless')])

In [7]:
v1 = 'CO2'
v2 = 'H'
v3 = 'H2O'
var_tuple_ls = [(v1, pid_ls[0]),(v2, pid_ls[3]), (v3, pid_ls[6]),(v2, pid_ls[0]),(v3, pid_ls[3]), (v1, pid_ls[6])]

In [25]:
d = {'https://meta.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe': 
     {'cols': ['CO2', 'H'], 
     'index': [0, 3], 'dobj': 1, 'product': 'ETC NRT Fluxes', 'stn_id': 'SE-Sto', 
      'columns': {'CO2': 'SE-Sto_CO2', 'H': 'SE-Sto_H'}}, 
     'https://meta.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV': 
     {'cols': ['H', 'H2O'], 'index': [1, 4], 'dobj': 33, 
       'product': 'ETC NRT Fluxes', 'stn_id': 'UK-AMo', 
      'columns': {'H': 'UK-AMo_H', 'H2O': 'UK-AMo_H2O'}}, 
     'https://meta.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3': 
     {'cols': ['H2O', 'CO2'], 'index': [2, 5], 'dobj': 2, 'product': 
      'ETC NRT Fluxes', 'stn_id': 'FR-Bil', 'columns': {'H2O': 'FR-Bil_H2O', 'CO2': 'FR-Bil_CO2'}}}


ls = [ c for k in d.keys() for j,c in d[k]['columns'].items()]

In [26]:
var_tuple_ls
ls = [var_tuple_ls[0],var_tuple_ls[3]]
var_tuple_ls
var_ls = [v for v,_ in var_tuple_ls]
#var_ls, units
ls2 = [(v, u) for v in var_ls for k, u in set(units) if v==k]
ls2

[('CO2', 'µmol mol-1'),
 ('H', 'W m-2'),
 ('H2O', 'mmol mol-1'),
 ('H', 'W m-2'),
 ('H2O', 'mmol mol-1'),
 ('CO2', 'µmol mol-1')]

In [27]:
df = group_ts(var_tuple_ls=var_tuple_ls, start_date= d1) #ls)
df
units = df.icos_var_unit_ls
df

C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18388\285090405.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['rename_cols'], inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18388\285090405.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['rename_cols'], inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)

['CO2', 'H', 'H2O', 'H', 'H2O', 'CO2']

C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18388\285090405.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['rename_cols'], inplace=True)

,SE-Sto_CO2,UK-AMo_H,FR-Bil_H2O,SE-Sto_H,UK-AMo_H2O,FR-Bil_CO2
TIMESTAMP,,,,,,
2023-03-10 00:00:00,424.420013,-18.389999,11.68,NaN,4.71,414.130005
2023-03-10 00:30:00,424.589996,NaN,11.84,NaN,4.65,414.329987
2023-03-10 01:00:00,424.579987,NaN,12.53,NaN,4.06,415.140015
2023-03-10 01:30:00,424.880005,-28.510000,12.69,NaN,4.59,415.410004
2023-03-10 02:00:00,425.179993,-23.209999,12.50,-22.51,4.40,415.690002
...,...,...,...,...,...,...
2023-03-16 21:00:00,427.600006,NaN,9.71,-21.16,NaN,416.250000
2023-03-16 21:30:00,427.429993,NaN,9.66,NaN,NaN,417.130005
2023-03-16 22:00:00,427.600006,NaN,9.60,NaN,NaN,417.630005
2023-03-16 22:30:00,428.440002,NaN,9.58,NaN,NaN,417.920013
2023-03-16 23:00:00,427.579987,NaN,9.72,NaN,NaN,418.480011

In [21]:
for x in var_tuple_ls:
    print(x)

print(df.icos_accessUrl)
print(df.icos_var_unit_ls)
df
d1 = '2023-03-10'
d2 = '2023-03-15'
df = df[d1:d2]
df
df.icos_accessUrl

('CO2', 'https://meta.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe')
('H', 'https://meta.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV')
('H2O', 'https://meta.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3')
('H', 'https://meta.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe')
('H2O', 'https://meta.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV')
('CO2', 'https://meta.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3')
['https://data.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe', 'https://data.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV', 'https://data.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3']
[]
['SE-Sto_CO2', 'UK-AMo_H', 'FR-Bil_H2O', 'SE-Sto_H', 'UK-AMo_H2O', 'FR-Bil_CO2']

['https://data.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe',
 'https://data.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV',
 'https://data.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3']

In [24]:
def group_ts(var_tuple_ls: list = None, start_date: str=None, end_date: str= None, **kwargs) -> IcosFrame:
    """
    Returns a pandas dataframe df with an ICOS timeseries
    and attached metadata (an instance of IcosFrame which
    inherits pandas dataframe). In case there are more than
    one matching products, the latest will be returned.

    Parameters
    ----------
    var_tuple_ls: list of tuples
        Each tuple in the list is assumed to be of the form
            (<variable>, <pid>)
        where the <variable> belongs to the ICOS product/file with pid <pid>
    
    start_date: str 
        Of the form 'YYYY-MM-DD'
    end_date: str
        Of the form 'YYYY-MM-DD'

    Returns
    -------
    IcosFrame (see above)
    """

    # 1. Before we merge the data we need to take care of the name and the 
    #    order of the variables
    order_dict = {}
    original_columns = []
    for i in range(len(var_tuple_ls)):
        v, p = var_tuple_ls[i]
        original_columns.append(v)
        
        if p in order_dict.keys():
            order_dict[p]['cols'].append(v)
            order_dict[p]['compose_order'][i] = v
        else:
            order_dict[p]  = {'cols': [v], 'compose_order': {i:v}, 'dobj': Dobj(p)}
    
    # 2. We might also have to rename duplicate variables.
    products = set()
    stations = set()
    if len(order_dict.keys()) > 1: 
        # in this case we will rename columns
        for p in order_dict.keys():            
            p_meta = IcosFrame.trim_icos_meta(order_dict[p]['dobj'].meta)
            order_dict[p]['meta'] = p_meta
            products.add(p_meta['product'])
            stations.add(p_meta['stationId'])
            order_dict[p]['product'] = p_meta['product']
            order_dict[p]['stn_id'] = p_meta['stationId']
    else: 
        p_meta = IcosFrame.trim_icos_meta(order_dict[p]['dobj'].meta)
        order_dict[p]['meta'] = p_meta    
    
    if len(products) > 1:
        for p in order_dict.keys():
            prod = order_dict[p]['product']
            order_dict[p]['rename_cols'] = {c: f'{prod}_{c}' for c in order_dict[p]['cols']}
    if len(stations) > 1:
        for p in order_dict.keys():
            stn_id = order_dict[p]['stn_id']
            if 'rename_cols' in order_dict[p].keys():
                order_dict[p]['rename_cols'] = {c: f'{stn_id}_{v}' 
                                                for c, v in 
                                                order_dict[p]['rename_cols'].items()}
            else:
                order_dict[p]['rename_cols'] = {c: f'{stn_id}_{c}' for c in order_dict[p]['cols']}
    
    # 3. Next, we gather the data in a dataframe and keep track on the order 
    df_m = None
    total_col_order = {}
    for p in order_dict.keys():
        do = order_dict[p]['dobj']
        col_ls = order_dict[p]['cols'] + ['TIMESTAMP']
        df = do.data[col_ls]
        if 'rename_cols' in order_dict[p].keys():
            df.rename(columns=order_dict[p]['rename_cols'], inplace=True)
            total_col_order.update({i: order_dict[p]['rename_cols'].get(v)
                                for i, v in order_dict[p]['compose_order'].items()})
        else:
            total_col_order.update(order_dict[p]['compose_order'])
            
        if df_m is None:
            df_m = df
        else:
            df_m = df_m.merge(df, how = 'outer', on = 'TIMESTAMP')
    
    # We use timestamp as index and restrict the set with respect to dates
    df_m.set_index(keys ='TIMESTAMP', inplace=True)
    
    if start_date:
        df_m = df_m[start_date:]
    if end_date:
        df_m = df_m[:end_date]
    
    col_order = [total_col_order[i] for i in range(len(total_col_order)) ]
    df_m = df_m[col_order]   

    # 5. Finally we set the meta data using an IcosFrame
    meta_ls = [order_dict[p]['meta'] for p in order_dict.keys()]
    
    if len(order_dict.keys()) == 1:
        meta_ls = meta_ls.pop(0)
            
    df = IcosFrame(data=df_m,icos_meta = meta_ls, icos_columns = original_columns )
    
    return df

'               col_meta_ls = do.meta[\'specificInfo\'][\n                    \'columns\'] if \'specificInfo\' in do.meta.keys() and \'columns\' in                                   do.meta[\'specificInfo\'] else None\n\n                var_meta = {}\n                for v in var_ls:\n                    for col in col_meta_ls:\n                        if col[\'label\'] == v:\n                            var_meta[v] = {}\n                            try:\n                                var_meta[v][\'unit\'] = col[\'valueType\'][\'unit\']\n                            except:\n                                var_meta[v][\'unit\'] = \'No unit\'\n                            try:\n                                label = col[\'valueType\'][\'quantityKind\'][\n                                    \'label\']\n                                var_meta[v][\'label\'] = label[\n                                                           0].upper() + label[\n                                                                        1:]\n                            except:\n                                var_meta[v][\'label\'] = \'\'\n                data_dict[stn][spec][\'meta\'] = var_meta\n\n        # Rename columns if there are stations or products involved\n        # Are the more than 1 station?\n        if len(data_dict.keys()) > 1:\n            for stn in data_dict.keys():\n                stn_short = data_dict[stn][\'id\']\n\n                # are there more than one speces?\n                if len(data_dict[stn].keys()) > 2:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            spec_short = spec.split(\' \')[-1]\n\n                            new_col_names = {\n                                var: f\'{stn_short}_{spec_short}_{var}\'\n                                for var in data_dict[stn][spec][\'vars\']\n                                if var != \'TIMESTAMP\'}\n                            # new_col_names[\'TIMESTAMP\'] = \'TIMESTAMP\'\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n\n                else:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            new_col_names = {var: f\'{stn_short}_{var}\'\n                                             for var in\n                                             data_dict[stn][spec][\'vars\']\n                                             if var != \'TIMESTAMP\'}\n                            # "new_col_names[\'TIMESTAMP\'] = \'TIMESTAMP\'\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n        else:\n            for stn in data_dict.keys():\n                # are there more than one speces?\n                if len(data_dict[stn].keys()) > 2:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            spec_short = spec.split(\' \')[-1]\n                            new_col_names = {var: f\'{spec_short}_{var}\'\n                                             for var in\n                                             data_dict[stn][spec][\'vars\']\n                                             if var != \'TIMESTAMP\'}\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n\n        return data_dict\n'