In [16]:
import warnings
warnings.simplefilter("ignore", FutureWarning)

from pi import gui


gui.AnalysisGui() #debug = True )

VBox(children=(ToggleButtons(button_style='success', icons=('area-chart', 'list', 'info-circle'), index=1, optâ€¦

In [40]:
df = s.get_ts(pid = pid_ls[0])
d = IcosFrame.trim_icos_meta(df.icos_meta)
d['product']

C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)

'ETC NRT Fluxes'

In [1]:
from pi import icos2latex

t = icos2latex.Translator()
t.var_unit_to_latex (df.icos_var_unit_ls)

NameError: name 'df' is not defined

In [ ]:
gui.AnalysisGui()

In [3]:
from pi import icos_data
from pi.icos_timeseries import IcosFrame
from icoscp.cpb.dobj import Dobj
s = icos_data.StationData()
df = s.stations_df

pid_ls = list(df.dobj)

In [36]:
v1 = 'CO2'
v2 = 'H'
v3 = 'H2O'
var_tuple_ls = [(v1, pid_ls[0]),(v2, pid_ls[3]), (v3, pid_ls[6]),(v2, pid_ls[0]),(v3, pid_ls[3]), (v1, pid_ls[6])]

In [31]:
df_m = None
for x in range(3):
    do = Dobj(pid_ls[3*x])
    df = do.data[[v1,v2, 'TIMESTAMP']]
    df.rename(columns={v1:f'{x}_{v1}', v2:f'{x}_{v2}'}, inplace=True)
    if df_m is None:
        df_m = df
    else:
        df_m = df_m.merge(df,how='outer')
df_m.set_index(keys ='TIMESTAMP', inplace=True)    
columns = df_m.columns
# do1 = Dobj(pid_ls[6])
# df = do.data[[v1,v2, 'TIMESTAMP']]
# df1 = do1.data[[v3,v2, 'TIMESTAMP']]

# df2 = df.copy()
# df.rename(columns={v1:'111',v2:'222'}, inplace=True)
# df
# df2
# df = df.merge(df2, how='outer')
# df3 = df.merge(df1, how='outer')
# df1.rename(columns = {v3:'v3', v2:'v2'}, inplace = True)
# df4 = df.merge(df1, how='outer')
# df3, df4
df_m

C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\2678681666.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={v1:f'{x}_{v1}', v2:f'{x}_{v2}'}, inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\2678681666.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={v1:f'{x}_{v1}', v2:f'{x}_{v2}'}, inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\2678681666.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={v1:f'{x}_{v1}', v2:f'{x}_{v2}'}, inplace=True)

                          0_CO2        0_H  1_CO2  1_H       2_CO2  2_H
TIMESTAMP
2022-05-17 23:30:00  401.269989 -53.040001    NaN  NaN         NaN  NaN
2022-05-18 00:00:00  400.920013 -65.230003    NaN  NaN         NaN  NaN
2022-05-18 00:30:00  400.899994 -68.080002    NaN  NaN         NaN  NaN
2022-05-18 01:00:00  400.980011 -43.720001    NaN  NaN         NaN  NaN
2022-05-18 01:30:00  400.529999 -43.669998    NaN  NaN         NaN  NaN
...                         ...        ...    ...  ...         ...  ...
2023-03-16 21:00:00  427.600006 -21.160000    NaN  NaN  416.250000  NaN
2023-03-16 21:30:00  427.429993        NaN    NaN  NaN  417.130005  NaN
2023-03-16 22:00:00  427.600006        NaN    NaN  NaN  417.630005  NaN
2023-03-16 22:30:00  428.440002        NaN    NaN  NaN  417.920013  NaN
2023-03-16 23:00:00  427.579987        NaN    NaN  NaN  418.480011  NaN

[14544 rows x 6 columns]

In [35]:
cols = df_m.columns
cols2 = [cols[j] for j in [2,1,4,0,5,3]]
#df_m = df_m[cols2]
df_m

                     1_CO2        0_H       2_CO2       0_CO2  2_H  1_H
TIMESTAMP
2022-05-17 23:30:00    NaN -53.040001         NaN  401.269989  NaN  NaN
2022-05-18 00:00:00    NaN -65.230003         NaN  400.920013  NaN  NaN
2022-05-18 00:30:00    NaN -68.080002         NaN  400.899994  NaN  NaN
2022-05-18 01:00:00    NaN -43.720001         NaN  400.980011  NaN  NaN
2022-05-18 01:30:00    NaN -43.669998         NaN  400.529999  NaN  NaN
...                    ...        ...         ...         ...  ...  ...
2023-03-16 21:00:00    NaN -21.160000  416.250000  427.600006  NaN  NaN
2023-03-16 21:30:00    NaN        NaN  417.130005  427.429993  NaN  NaN
2023-03-16 22:00:00    NaN        NaN  417.630005  427.600006  NaN  NaN
2023-03-16 22:30:00    NaN        NaN  417.920013  428.440002  NaN  NaN
2023-03-16 23:00:00    NaN        NaN  418.480011  427.579987  NaN  NaN

[14544 rows x 6 columns]

In [85]:
d = {'https://meta.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe': 
     {'cols': ['CO2', 'H'], 
     'index': [0, 3], 'dobj': 1, 'product': 'ETC NRT Fluxes', 'stn_id': 'SE-Sto', 
      'columns': {'CO2': 'SE-Sto_CO2', 'H': 'SE-Sto_H'}}, 
     'https://meta.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV': 
     {'cols': ['H', 'H2O'], 'index': [1, 4], 'dobj': 33, 
       'product': 'ETC NRT Fluxes', 'stn_id': 'UK-AMo', 
      'columns': {'H': 'UK-AMo_H', 'H2O': 'UK-AMo_H2O'}}, 
     'https://meta.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3': 
     {'cols': ['H2O', 'CO2'], 'index': [2, 5], 'dobj': 2, 'product': 
      'ETC NRT Fluxes', 'stn_id': 'FR-Bil', 'columns': {'H2O': 'FR-Bil_H2O', 'CO2': 'FR-Bil_CO2'}}}

dd = {}
ls = [ c for j,c in d[k]['columns'].items() for k in d.keys()]

for k in d.keys():
    
    col_names = [x for x in d[k]['columns'].items()]
    cols = d[k]['cols']
    ind = d[k]['index']
    print(col_names)
    print(*col_names)
    print(cols)
    print(ind)
    print(list(zip(ind,cols,col_names)),'\n')
    
ls
for i in [0,1,2,3,4,5]:
    ls2 = [v for p in d.keys() for i in [0,1,2,3,4,5] for k, v in d[p]['columns'].items()  if d[p]['cols'][i] == k ]

[('CO2', 'SE-Sto_CO2'), ('H', 'SE-Sto_H')]
('CO2', 'SE-Sto_CO2') ('H', 'SE-Sto_H')
['CO2', 'H']
[0, 3]
[(0, 'CO2', ('CO2', 'SE-Sto_CO2')), (3, 'H', ('H', 'SE-Sto_H'))]

[('H', 'UK-AMo_H'), ('H2O', 'UK-AMo_H2O')]
('H', 'UK-AMo_H') ('H2O', 'UK-AMo_H2O')
['H', 'H2O']
[1, 4]
[(1, 'H', ('H', 'UK-AMo_H')), (4, 'H2O', ('H2O', 'UK-AMo_H2O'))]

[('H2O', 'FR-Bil_H2O'), ('CO2', 'FR-Bil_CO2')]
('H2O', 'FR-Bil_H2O') ('CO2', 'FR-Bil_CO2')
['H2O', 'CO2']
[2, 5]
[(2, 'H2O', ('H2O', 'FR-Bil_H2O')), (5, 'CO2', ('CO2', 'FR-Bil_CO2'))]

IndexError: list index out of range

In [44]:
group_ts(var_tuple_ls=var_tuple_ls)

C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\929280048.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['columns'], inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)
C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\929280048.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['columns'], inplace=True)
C:\Miniconda3\envs\dashboard\lib\site-packages\icoscp\cpauth\exceptions.py:53: UserWarning:
Your authentication at the ICOS Carbon Portal was unsuccessful due to: Incorrect user name or password.
Falling back to anonymous data access. Please, revisit your authentication configuration
(https://icos-carbon-portal.github.io/pylib/modules/#authentication).
Authentication will become mandatory (icoscp >= 0.1.19) for external users.
  warnings.warn(warning, category=UserWarning)

{'https://meta.icos-cp.eu/objects/QLk2MGR5Zv_KPmN07Z0ZNSHe': {'cols': ['CO2', 'H'], 'index': [0, 3], 'dobj': <icoscp.cpb.dobj.Dobj object at 0x000001EEF77286D0>, 'product': 'ETC NRT Fluxes', 'stn_id': 'SE-Sto', 'columns': {'CO2': 'SE-Sto_CO2', 'H': 'SE-Sto_H'}}, 'https://meta.icos-cp.eu/objects/StAoU7ciukup4HmijO4J92sV': {'cols': ['H', 'H2O'], 'index': [1, 4], 'dobj': <icoscp.cpb.dobj.Dobj object at 0x000001EEF6C793D0>, 'product': 'ETC NRT Fluxes', 'stn_id': 'UK-AMo', 'columns': {'H': 'UK-AMo_H', 'H2O': 'UK-AMo_H2O'}}, 'https://meta.icos-cp.eu/objects/9ISyDWIvPhNwbFGaqp6rwSP3': {'cols': ['H2O', 'CO2'], 'index': [2, 5], 'dobj': <icoscp.cpb.dobj.Dobj object at 0x000001EEF7728880>, 'product': 'ETC NRT Fluxes', 'stn_id': 'FR-Bil', 'columns': {'H2O': 'FR-Bil_H2O', 'CO2': 'FR-Bil_CO2'}}}

C:\Users\Anders Dahlner\AppData\Local\Temp\ipykernel_18496\929280048.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=order_dict[p]['columns'], inplace=True)

In [43]:
def group_ts(var_tuple_ls: list = None, **kwargs) -> IcosFrame:
    """
    Returns a pandas dataframe df with an ICOS timeseries
    and attached metadata (an instance of IcosFrame which
    inherits pandas dataframe). In case there are more than
    one matching products, the latest will be returned.

    Parameters
    ----------
    var_tuple_ls a list of tuples
        each tuple in the list is assumed to be of the form
            (<variable>, <pid>)
        where the <variable> belongs to the ICOS product/file with pid <pid>

    Returns
    -------
    IcosFrame (see above)
    """

    # 1. Before we merge the data we need to take care of the order of the variables
    order_dict = {}
    for i in range(len(var_tuple_ls)):
        v, p = var_tuple_ls[i]
        if p in order_dict.keys():
            order_dict[p]['cols'].append(v)
            order_dict[p]['index'].append(i)
        else:
            order_dict[p]  = {'cols': [v], 'index': [i], 'dobj': Dobj(p)}
    
    # 2. We might also have to rename duplicate variables.
    products = set()
    stations = set()
    if len(order_dict.keys()) > 1: 
        # in this case we will rename columns
        for p in order_dict.keys():            
            p_meta = IcosFrame.trim_icos_meta(order_dict[p]['dobj'].meta)
            products.add(p_meta['product'])
            stations.add(p_meta['stationId'])
            order_dict[p]['product'] = p_meta['product']
            order_dict[p]['stn_id'] = p_meta['stationId']
    if len(products) > 1:
        for p in order_dict.keys():
            prod = order_dict[p]['product']
            order_dict[p]['columns'] = {c: f'{prod}_{c}' for c in order_dict[p]['cols']}
    if len(stations) > 1:
        for p in order_dict.keys():
            stn_id = order_dict[p]['stn_id']
            if 'columns' in order_dict[p].keys():
                order_dict[p]['columns'] = {c: f'{stn_id}_{v}' for c, v in order_dict[p]['columns'].items()}
            else:
                order_dict[p]['columns'] = {c: f'{stn_id}_{c}' for c in order_dict[p]['cols']}
    
    # 3. Gather data.
    df_m = None
    for p in order_dict.keys():
        do = order_dict[p]['dobj']
        col_ls = order_dict[p]['cols']
        df = do.data[col_ls]
        if 'columns' in order_dict[p].keys():
            df.rename(columns=order_dict[p]['columns'], inplace=True)
        if df_m is None:
            df_m = df
        else:
            df_m = df_m.merge(df, how = 'outer')
        
    df_m.set_index(keys ='TIMESTAMP', inplace=True)
        
            
            
        
            
        
            
            
        
    print(order_dict)         
    
    
#     stations = {x[2] for x in var_tuple_ls}
#     st_df = self.stations_df

#     data_dict = {}
#     for st_id in stations:
#         data_dict[st_id] = {}
#         data_dict[st_id]['st_name'] = st_df.loc[(st_df.id ==
#                                                  st_id)].name.values[0]
#         files = {x[1] for x in var_tuple_ls if x[2] == st_id}
#         for spec in files:
#             data_dict[st_id][spec] = {}
#             pid = st_df.loc[(st_df.id == st_id) & (
#                     st_df.specLabel == spec)].dobj.values[0]

#             # variables of pid
#             var_ls = [x[0] for x in var_tuple_ls if
#                       x[2] == st_id and x[1] == spec]
#             data_dict[st_id][spec]['vars'] = var_ls

#             df = self.get_ts(pid=pid, col_ls=var_ls)
#             #do = Dobj(pid)
#             #df = do.data
#             #cols = var_ls
#             #if 'TIMESTAMP' not in var_ls:
#             #    cols.append('TIMESTAMP')

#             data_dict[st_id][spec]['data'] = df   #df[cols]

#     return data_dict

"""               col_meta_ls = do.meta['specificInfo'][
                    'columns'] if 'specificInfo' in do.meta.keys() and 'columns' in \
                                  do.meta['specificInfo'] else None

                var_meta = {}
                for v in var_ls:
                    for col in col_meta_ls:
                        if col['label'] == v:
                            var_meta[v] = {}
                            try:
                                var_meta[v]['unit'] = col['valueType']['unit']
                            except:
                                var_meta[v]['unit'] = 'No unit'
                            try:
                                label = col['valueType']['quantityKind'][
                                    'label']
                                var_meta[v]['label'] = label[
                                                           0].upper() + label[
                                                                        1:]
                            except:
                                var_meta[v]['label'] = ''
                data_dict[stn][spec]['meta'] = var_meta

        # Rename columns if there are stations or products involved
        # Are the more than 1 station?
        if len(data_dict.keys()) > 1:
            for stn in data_dict.keys():
                stn_short = data_dict[stn]['id']

                # are there more than one speces?
                if len(data_dict[stn].keys()) > 2:
                    for spec in data_dict[stn]:
                        if spec != 'id':
                            spec_short = spec.split(' ')[-1]

                            new_col_names = {
                                var: f'{stn_short}_{spec_short}_{var}'
                                for var in data_dict[stn][spec]['vars']
                                if var != 'TIMESTAMP'}
                            # new_col_names['TIMESTAMP'] = 'TIMESTAMP'

                            df = data_dict[stn][spec]['data']
                            data_dict[stn][spec]['data'] = df.rename(
                                columns=new_col_names)

                else:
                    for spec in data_dict[stn]:
                        if spec != 'id':
                            new_col_names = {var: f'{stn_short}_{var}'
                                             for var in
                                             data_dict[stn][spec]['vars']
                                             if var != 'TIMESTAMP'}
                            # "new_col_names['TIMESTAMP'] = 'TIMESTAMP'

                            df = data_dict[stn][spec]['data']
                            data_dict[stn][spec]['data'] = df.rename(
                                columns=new_col_names)
        else:
            for stn in data_dict.keys():
                # are there more than one speces?
                if len(data_dict[stn].keys()) > 2:
                    for spec in data_dict[stn]:
                        if spec != 'id':
                            spec_short = spec.split(' ')[-1]
                            new_col_names = {var: f'{spec_short}_{var}'
                                             for var in
                                             data_dict[stn][spec]['vars']
                                             if var != 'TIMESTAMP'}

                            df = data_dict[stn][spec]['data']
                            data_dict[stn][spec]['data'] = df.rename(
                                columns=new_col_names)

        return data_dict
"""

'               col_meta_ls = do.meta[\'specificInfo\'][\n                    \'columns\'] if \'specificInfo\' in do.meta.keys() and \'columns\' in                                   do.meta[\'specificInfo\'] else None\n\n                var_meta = {}\n                for v in var_ls:\n                    for col in col_meta_ls:\n                        if col[\'label\'] == v:\n                            var_meta[v] = {}\n                            try:\n                                var_meta[v][\'unit\'] = col[\'valueType\'][\'unit\']\n                            except:\n                                var_meta[v][\'unit\'] = \'No unit\'\n                            try:\n                                label = col[\'valueType\'][\'quantityKind\'][\n                                    \'label\']\n                                var_meta[v][\'label\'] = label[\n                                                           0].upper() + label[\n                                                                        1:]\n                            except:\n                                var_meta[v][\'label\'] = \'\'\n                data_dict[stn][spec][\'meta\'] = var_meta\n\n        # Rename columns if there are stations or products involved\n        # Are the more than 1 station?\n        if len(data_dict.keys()) > 1:\n            for stn in data_dict.keys():\n                stn_short = data_dict[stn][\'id\']\n\n                # are there more than one speces?\n                if len(data_dict[stn].keys()) > 2:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            spec_short = spec.split(\' \')[-1]\n\n                            new_col_names = {\n                                var: f\'{stn_short}_{spec_short}_{var}\'\n                                for var in data_dict[stn][spec][\'vars\']\n                                if var != \'TIMESTAMP\'}\n                            # new_col_names[\'TIMESTAMP\'] = \'TIMESTAMP\'\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n\n                else:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            new_col_names = {var: f\'{stn_short}_{var}\'\n                                             for var in\n                                             data_dict[stn][spec][\'vars\']\n                                             if var != \'TIMESTAMP\'}\n                            # "new_col_names[\'TIMESTAMP\'] = \'TIMESTAMP\'\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n        else:\n            for stn in data_dict.keys():\n                # are there more than one speces?\n                if len(data_dict[stn].keys()) > 2:\n                    for spec in data_dict[stn]:\n                        if spec != \'id\':\n                            spec_short = spec.split(\' \')[-1]\n                            new_col_names = {var: f\'{spec_short}_{var}\'\n                                             for var in\n                                             data_dict[stn][spec][\'vars\']\n                                             if var != \'TIMESTAMP\'}\n\n                            df = data_dict[stn][spec][\'data\']\n                            data_dict[stn][spec][\'data\'] = df.rename(\n                                columns=new_col_names)\n\n        return data_dict\n'

In [32]:
a = set()
a.add(8) #dir(a)
a.add(8)
a

{8}

In [33]:
len(None)

TypeError: object of type 'NoneType' has no len()